{% extends 'blog/base.html' %}
{% block main %}
    <article class="container-lg post_article">
        <h2 class="post_title blue_text"><a href="{% url 'post_detail' pk=post.pk %}" class="unstyled_a">{{ post.title }}</a></h2>
        {% if post.published_date %}
            <time class="post_time text-muted">Published: {{ post.published_date }}</time>
        {% else %}
            <time class="post_time text-muted">Published: Unpublished</time>
        {% endif %}
        <p class="post_p">{{ post.text|linebreaksbr }}</p>
    </article>
{% endblock %}